.SearchResultProductPage {
    display: flex;
    flex-direction: column;
    width: 80%
}

.SearchResultProductContainer {
    display: flex;
    flex-direction: row;
}

.SearchResultProduct {
    display: flex;
    flex: 1;
    margin: 10px;
    height: 500px;
    border: 1px solid #DFDFDF;
    border-radius: 3px;
}

.image {
    display: block;
    margin: auto;
    max-width: 80%;
    max-height: 80%;
}

.BannerBottom {
    display: block;
    margin: auto;
    padding: 20px;
    max-width: 75%;
    max-height: 75%;
}